html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  display: flex;
}

.main-navigation {
  position: relative;
  width: 100%;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0 72px;
}

.site-navigation li {
  width: 203px;
  padding: 18px 0 17px;
  word-break: break-all;
}

.site-navigation li:nth-child(2n) {
  margin-right: 244px;
}

.site-navigation li:nth-child(3n) {
  text-align: right;
  padding-right: 0;
}

.site-navigation li:nth-child(4n) {
  margin-right: 0;
  text-align: right;
  padding-right: 0;
  padding-left: 15px;
}

.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
}

.legend {
  text-align: center;
  min-height: 508px;
  background-color: #5496bd;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 2px), center -80px;
  padding: 76px;
}

.feature {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 53px;
  padding-left: 350px;
  padding-right: 350px;
}

.feature__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  margin: 0 0 25px;
}

.feature__text {
  line-height: 1.86;
  margin: 0;
}

.main-city {
  display: flex;
}

.main-city-right .main-photo {
  order: 2;
}

.main-photo {
  width: 800px;
}

.main-photo img {
  display: block;
}

.main-sign {
  width: 400px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 36px 50px 63px;
}

.main-sign h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0 42px;
}

.main-sign__number {
  margin: 0 0 22px;
}

.main-sign__text {
  margin: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  display: block;
  text-align: center;
  width: 400px;
  padding: 57px 51px 83px;
}

.features h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin: 0 0 25px;
}

.features p {
  text-align: center;
  margin: 0;
}

.main-comfort {
  background-color: #eeeeee;
}

.main-comfort-item__title {
  margin-bottom: 10px;
}

.main-comfort-item__number {
  margin: 0 0 22px;
}

.main-comfort-item__text {
  margin: 0;
}

.main-comfort-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-comfort-item li {
  width: 400px;
  padding: 37px 65px 58px;
}

.main-comfort h3 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 0 0 13px;
  padding: 0 60px;
}

.main-comfort p {
  text-align: center;
}

.detail {
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 5px 17px;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reservation {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  padding: 5px 17px;
}

.reservation:hover {
  background-color: #604e43;
}

.reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-navigation {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation__item {
  color: #81b3d2;
  margin: 0 33px 0 0;
}

.catalog-navigation a[href]:hover {
  color: #81b3d2;
}

.catalog-navigation a[href]:active {
  color: #000000;
}

.hotels__info {
  margin: 0 525px 0 30px;
}

.hotels__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.hotels__title:hover {
  color: #81b3d2;
}

.hotels__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels__buttons {
  margin: 18px 0;
}

.scan {
  display: block;
  width: 565px;
  text-align: center;
  font-weight: bold;
  line-height: 1.24;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 115px;
}

.scan:hover {
  background-color: #604e43;
}

.scan:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map__image {
  text-align: center;
  min-height: 475px;
  background-image: url(../img/map.jpg);
  background-position-y: 35px;
  padding-bottom: 78px;
}

.map__form {
  width: 566px;
  margin-left: auto;
  margin-right: auto;
  padding: 53px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
}

.map__item__option {
  width: 310px;
  margin: 0;
  padding: 13px;
  border: 0;
  background-color: #f2f2f2;
}

.map__item_number {
  width: 38px;
  ;
  margin: 0;
  padding: 13px;
  border: 0;
  background-color: #f2f2f2;
}

.map__item__button_controller {
  width: 38px;
}

.button {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 15px 197px;
  margin: 50px 0 4px;
  border: 0;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-button {
  background-color: #81b3d2;
}

.by__price {
  color: #81b3d2;
}

.map {
  padding: 50px 0 0;
}

.map__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  margin: 0 0 25px;
}

.map__desc {
  width: 485px;
  line-height: 1.71;
  text-align: center;
  margin: 0 auto 48px;
}

.map__item {
  display: inline-flex;
  font-weight: bold;
  line-height: 1.86;
  color: #000000;
  margin: 0 0 26px;
}

.people {
  margin: 0;
  width: 226px;
}

.indwell {
  width: 458px;
}

.map__item-residence {
  width: 110px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.map__item-resident {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 0;
}

.map__item-children {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 23px 0 32px;
}

.main-footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 35px 0;
  margin: 0;
}

.footer-social {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 122px;
}

.footer-social li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  list-style: none;
  margin: 0 6px 0 0;
}

.footer-social li:hover {
  background-color: #669ec0;
}

.footer-social li:active {
  background-color: #5496bd;
}

.social-button path {
  fill: #ffffff;
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:active path {
  fill: #88b6d1;
}

.main-footer-tag {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  margin: 0;
}

.main-footer-tag b {
  line-height: 1.86;
  color: #000000;
}

.footer-copyright b {
  display: inline-block;
  vertical-align: 10px;
  line-height: 1.86;
  font-weight: normal;
  color: #000000;
  margin: 0 6px 0 0;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  text-align: center;
}

.footer-copyright a path {
  fill: #231f20;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

/* Стили для страницы hotel.html */

/* Стили для фильтра */

.services-infrastructure {
  width: 1120px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.services-infrastructure__home {
  display: grid;
  margin: 0 120px 0 0;
  color: #ffffff;
}

.services-infrastructure__home h2 {
  margin: 0 0 22px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
}

.services-infrastructure__home label {
  display: flex;
  align-items: center;
  margin: 0 0 21px;
}

.services-infrastructure__home p {
  margin: 0;
}

.checkbox {
  display: none;
}

.checkbox-on {
  margin: 0 14px 0 0;
}

.checkbox-on path {
  fill: #ffffff;
  margin: 0 14px 0 0;
}

.checkbox-on:hover path {
  fill: #ffffff;
}

.checkbox-on:disabled path {
  fill: #6a6a6a;
}

.checkbox-off path {
  fill: #ffffff;
  fill: #ffffff;
}

.checkbox-off:hover path {
  fill: #ffffff;
  fill: #ffffff;
}

.checkbox-off:disabled path {
  fill: #6a6a6a;
  fill: #6a6a6a;
}

.services {
  display: flex;
  padding: 27px 72px 10px;
  background-image: url("../img/filter-background.jpg");
  background-position: 0px -365px;
}

.filter-range {
  width: 314px;
  margin-left: auto;
  /* для демо */
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price, .price-controls .max-price {
  width: 138px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.compare {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 73px;
}

.compare h2 {
  margin: 0 49px 0 0;
}

.compare p {
  margin: 0 40px 0 0;
  font-size: 12px;
  padding: 5px 0;
}

.hotels__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.catalog-navigation li {
  margin: 0 33px 0 0;
}

.option {
  margin-left: auto;
}

.cursor {
  display: flex;
  list-style: none;
  margin: 0;
}

.pointer__up {
  margin: 0 12px 0 0;
}

.hotels__item {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 72px 16px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels__rate {
  width: 108px;
  text-align: right;
  margin-left: 0;
}

.hotels__rate-star {
  display: inline-block;
  height: 17px;
  margin: 0 0 39px;
  background-image: url("../img/star.svg");
  background-size: 22px 17px;
}

.star-1 {
  width: 18px;
}

.star-2 {
  width: 41px;
}

.star-3 {
  width: 64px;
}

.star-4 {
  width: 87px;
}

.star-5 {
  width: 110px;
}

.hotels__rate-text {
  width: auto;
  color: #666666;
  padding: 5px 12px;
  margin: 0;
  background-color: #f2f2f2;
}

.hotels__desc {
  display: flex;
  width: 180px;
}

.hotels__type {
  margin: 0;
}

.hotels__price {
  margin: 0;
  margin-left: auto;
}

.map__item button {
  margin: 0;
  padding: 7px;
  border: 0;
  background-color: #f2f2f2;
}

.minus image {
  width: 21px;
  height: 21px;
}

.map__item button path {
  fill: #cacaca;
}

.map__item button:hover path {
  fill: #000000;
}

.map__item button:active path {
  fill: #81b3d2;
}

.map__item input:hover {
  background-color: #ebebeb;
}

.map__item input:focus {
  background-color: #ffffff;
}

.child {
  padding: 0 0 0 51px;
}

.pointer {
  width: 11px;
  height: 10px;
}

.pointer__up path {
  fill: #cacaca;
}

.pointer__up:hover path {
  fill: #000000;
}

.pointer__up:active path {
  fill: #81b3d2;
}

.pointer__down path {
  fill: #81b3d2;
}

.pointer__down:hover path {
  fill: #000000;
}

.pointer__down:active path {
  fill: #81b3d2;
}

.children {
  margin: 0 0 0 39px;
}
