html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.outline {
  outline: 1px solid red;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  display: flex;
}

.main-navigation {
  position: relative;
  width: 100%;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0 72px;
}

.site-navigation li {
  width: 203px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  word-break: break-all;
}

.site-navigation li:nth-child(2n) {
  margin-right: 244px;
}

.site-navigation li:nth-child(3n) {
  text-align: right;
  padding-right: 0;
}

.site-navigation li:nth-child(4n) {
  margin-right: 0;
  text-align: right;
  padding-right: 0;
  padding-left: 15px;
}

.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
}

.legend {
  text-align: center;
  min-height: 508px;
  background-color: #5496bd;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 1px), center -80px;
  padding: 76px;
}

.feature {
  text-align: center;
  padding-top: 61px;
  padding-bottom: 56px;
  padding-left: 350px;
  padding-right: 350px;
}

.feature__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  margin: 0 0 38px;
}

.feature__text {
  line-height: 1.86;
  margin: 0;
}

.main-city {
  display: flex;
}

.main-city-right .main-photo {
  order: 2;
}

.main-photo {
  width: 800px;
}

.main-photo img {
  display: block;
}

.main-sign {
  width: 400px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 46px 60px 64px;
}

.main-sign h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 10px;
}

.main-sign__number {
  margin: 0 0 10px;
}

.main-sign__text {
  margin: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 400px;
  padding: 60px 74px 85px;
}

.features h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin: 0 0 31px;
}

.features p {
  text-align: center;
  margin: 0;
}

.main-comfort {
  background-color: #eeeeee;
}

.main-comfort-item__title {
  margin-bottom: 10px;
}

.main-comfort-item__number {
  margin: 0 0 10px;
}

.main-comfort-item__text {
  margin: 0;
}

.main-comfort-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-comfort-item li {
  width: 400px;
  padding: 50px 60px 64px;
}

.main-comfort h3 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 0 0 10px;
}

.main-comfort p {
  text-align: center;
}

.detail {
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 8px 17px;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reservation {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  padding: 8px 16px;
}

.reservation:hover {
  background-color: #604e43;
}

.reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-navigation {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation__item {
  color: #81b3d2;
  margin: 0 33px 0 0;
}

.catalog-navigation a[href]:hover {
  color: #81b3d2;
}

.catalog-navigation a[href]:active {
  color: #000000;
}

.hotels__info {
  margin: 0 528px 0 30px;
}

.hotels__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.hotels__title:hover {
  color: #81b3d2;
}

.hotels__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels__buttons {
  margin: 18px 0;
}

.scan {
  display: block;
  width: 561px;
  text-align: center;
  font-weight: bold;
  line-height: 1.24;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 134px;
}

.scan:hover {
  background-color: #604e43;
}

.scan:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map__form {
  width: 561px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 55px 55px;
}

.map__item__option {
  width: 275px;
}

.button {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 20px 198px;
  margin: 55px 0 0;
  border: 0;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-button {
  background-color: #81b3d2;
}

.by__price {
  color: #81b3d2;
}

.map {
  padding: 57px 0 0;
}

.map__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  margin: 0 0 30px;
}

.map__desc {
  width: 396px;
  line-height: 1.71;
  text-align: center;
  margin: 0 auto 52px;
}

.map__item {
  display: inline-flex;
  font-weight: bold;
  line-height: 1.86;
  color: #000000;
  margin: 30px 0 0;
}

.map__item label {
  margin: 0 29px 0 0;
}

.map__item__button {
  margin-left: auto;
}

.main-footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 36px 0;
  margin: 0;
}

.footer-social {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 122px;
}

.footer-social li {
  padding: 14px 14px 6px;
  margin: 0 6px 0 0;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  list-style: none;
}

.footer-social li:hover {
  background-color: #669ec0;
}

.footer-social li:active {
  background-color: #5496bd;
}

.social-button path {
  fill: #ffffff;
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:active path {
  fill: #88b6d1;
}

.main-footer-tag {
  width: 400px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  margin: 0;
  padding: 12px 132px;
}

.main-footer-tag b {
  line-height: 1.86;
  color: #000000;
}

.footer-copyright b {
  line-height: 1.86;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  padding: 10px 95px;
}

.footer-copyright a path {
  fill: #231f20;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

.footer-copyright img {
  margin: -13px 0;
}

/* Стили для страницы hotel.html */

.services-infrastructure h2 {
  margin: 0;
}

.compare {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 73px;
}

.compare h2 {
  margin: 0 49px 0 0;
}

.compare p {
  margin: 0 40px 0 0;
}

.hotels__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-navigation li {
  margin: 0 33px 0 0;
}

.option {
  margin-left: auto;
}

.cursor {
  display: flex;
  list-style: none;
  margin: 0;
}

.pointer__up {
  margin: 0 12px 0 0;
}

.hotels__item {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 72px;
  border-bottom: 1px solid black;
}

.hotels__rate {
  width: 108px;
  text-align: right;
  margin-left: 0;
}

.hotels__rate-star {
  display: inline-block;
  height: 17px;
  margin: 0 0 52px;
  background-image: url("../img/star.svg");
  background-size: 22px 17px;
}

.hide-text {
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.star-1 {
  width: 18px;
}

.star-2 {
  width: 41px;
}

.star-3 {
  width: 64px;
}

.star-4 {
  width: 87px;
}

.star-5 {
  width: 110px;
}

.hotels__rate-text {
  width: auto;
  color: #666666;
  padding: 5px 12px;
  margin: 0;
  background-color: #f2f2f2;
}

.hotels__type {
  margin: 0;
}

.hotels__price {
  margin: 0;
}

.map__item button {
  margin: 0;
  padding: 13px;
  border: 0;
  background-color: #f2f2f2;
}

.minus image {
  width: 21px;
  height: 21px;
}

.map__item button path {
  fill: #cacaca;
}

.map__item button:hover path {
  fill: #000000;
}

.map__item button:active path {
  fill: #81b3d2;
}

.map__item input {
  margin: 0;
  padding: 13px;
  border: 0;
  background-color: #f2f2f2;
}

.child {
  padding: 0 0 0 51px;
}

.number {
  width: 38px;
}

.pointer {
  width: 11px;
  height: 10px;
}

.pointer__up path {
  fill: #cacaca;
}

.pointer__up:hover path {
  fill: #000000;
}

.pointer__up:active path {
  fill: #81b3d2;
}

.pointer__down path {
  fill: #81b3d2;
}

.pointer__down:hover path {
  fill: #000000;
}

.pointer__down:active path {
  fill: #81b3d2;
}
