html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.outline {
  outline: 1px solid red;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  display: flex;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation a[href]:hover {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
}

.legend {
  text-align: center;
  min-height: 508px;
  background-color: #5496bd;
  background-image: url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 1px), center -80px;
  padding: 76px;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  min-height: 216px;
}

.feature__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
}

.feature__text {
  line-height: 1.86;
  text-align: center;
}
.main-city {
  display: flex;
}

.main-city-right .main-photo {
  order: 2;
}

.main-photo img {
  display: block;
}

.main-sign {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.main-sign h3 {
  font-size: 21px;
  font-weight: bold;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #000000;
}

.features p {
  text-align: center;
}

.main-comfort {
  background-color: #eeeeee;
}

.main-comfort-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-comfort h3 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.main-comfort p {
  text-align: center;
}

.detail {
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  background-color: #81b3d2;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reservation {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  box-sizing: border-box;
}

.reservation:hover {
  background-color: #604e43;
}

.reservation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-navigation {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation__item {
  color: #81b3d2;
}

.catalog-navigation a[href]:hover {
  color: #81b3d2;
}

.catalog-navigation a[href]:active {
  color: #000000;
}

.hotels__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.hotels__title:hover {
  color: #81b3d2;
}

.hotels__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.scan {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  box-sizing: border-box;
}

.scan:hover {
  background-color: #604e43;
}

.scan:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-button {
  object-fit: contain;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.by__price {
  color: #81b3d2;
}

.map__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-align: center;
}

.map__desc {
  line-height: 1.71;
  text-align: center;
}

.map__item {
  font-weight: bold;
  line-height: 1.86;
  color: #000000;
}

.main-footer {
  display: flex;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.main-footer-tag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.main-footer-tag b {
  line-height: 1.86;
  color: #000000;
}

.hotels__rate-text {
  color: #666666;
}

.footer-copyright b {
  line-height: 1.86;
  font-weight: normal;
  text-align: center;
  color: #000000;
}
/* Стили для страницы hotel.html */
.compare {
  display: flex;
  flex-wrap: wrap;
}

.hotels__list {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.catalog-navigation {
  display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.hotels__item {
  display: flex;
  flex-wrap: wrap;
}

.hotels__rate {
  margin-left: auto;
}
